
body {
    background-color: #f0f2f5;
  }

  .sidebar {
    background-color: black;
    color: white;
    min-height: 100vh; 
    height: auto;
    overflow-y: auto; 
  }

  .sidebar a {
    color: white;
    text-decoration: none;
  }

  .content {
    padding: 20px;
  }

  .card-icon {
    font-size: 2rem;
  }

  .status-active {
    background-color: #f8d7da;
    color: #721c24;
  }

  .status-resolved {
    background-color: #d4edda;
    color: #155724;
  }


  .sidebar .nav-link {
    color: white !important;
    padding-left: 0.5rem;
    transition: background-color 0.2s ease;
    
  }
  
  .sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffc107 !important; 
  }

  .sidebar .nav-link.active {
    background-color: #0d6efd;
    color: white !important;
  }


  footer a.text-white:hover {
    color: #ffc107;
    text-decoration: underline;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  .navbar-nav .nav-link:hover {
    color: #007bff !important;
  }
  
  .fixed-chart-container {
    height: 300px;
    width: 100%;
    position: relative;
  }
  
  .fixed-chart-container canvas {
    height: 100% !important;
    width: 100% !important;
  }
  
  .dashboard-heading {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 20px;
    border-left: 6px solid #0d6efd;
    background-color: #f8f9fa;
    color: #333;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }



  .yard-rect {
    width: 180px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  .yard-rect:hover {
    transform: scale(1.05);
    background-color: #f1f1f1;
  }
  
  

  @media (max-width: 768px) {
    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
      padding: 1rem;
      background-color: rgba(0, 149, 255, 0.358);
      
    }
  
    .sidebar ul.nav {
      margin-top: 1rem;
    }
  
    .sidebar .nav-link {
      color: rgba(255, 255, 255, 0.364) !important;
      padding: 10px 15px;
      border-radius: 5px;
    }
  
    .sidebar .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffc107 !important;
    }
  }
  
  
  