body {
  background-color: #f0f2f5;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.384);
  color: white;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.card-icon {
  font-size: 2rem;
}

.status-active {
  background-color: #f8d7da;
  color: #721c24;
}

.status-resolved {
  background-color: #d4edda;
  color: #155724;
}

.sidebar .nav-link {
  color: black !important;
  padding-left: 0.5rem;
  transition: background-color 0.2s ease;
}

.sidebar .nav-link:hover {
  background-color: rgba(214, 8, 8, 0.998);
  border-left: 3px solid var(--transnet-red);
}

.sidebar .nav-link.active {
  background-color: #0d6efd;
  color: white !important;
}

footer a.text-white:hover {
  color: #ffc107;
  text-decoration: underline;
}

.navbar-brand {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.fixed-chart-container {
  height: 300px;
  width: 100%;
  position: relative;
}

.fixed-chart-container canvas {
  height: 100% !important;
  width: 100% !important;
}



.dashboard-heading {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 12px 20px;
  
  border-left: 6px solid #0d6efd;
  background-color: #f8f9fa;
  color: rgb(141, 198, 63);
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sidebar h5 {
  color: rgb(141, 198, 63);
  text-transform: uppercase;
  font-weight: bold;
}

.card-header {
  text-transform: uppercase;
}

/* Revert uppercase on the icon */
.card-header i {
  text-transform: none;
}

/* Revert uppercase on the badge */
.card-header .badge {
  text-transform: none;
}






/* Dashboard cards */
.dashboard-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2px;
  transition: all 0.3s;
  background-color: #a10d00;
  border: none;
  /* background-image: url('./images/Blue\ White\ Modern\ Business\ Infographic\ Presentation\ \(4\).png'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-card .card-body {
  padding: 20px;
}


.card-header{
  background-color: rgb(141, 198, 63);

}
.dashboard-card .card-title {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  font-size: 13px;
}

.dashboard-card .card-value {
  font-size: 14px;
  font-weight: 500;
  color: rgb(199, 200, 199);
  margin-bottom: 5px;
}

.dashboard-card .card-icon {
  font-size: 1.5rem;
  color: red;
  opacity: 0.8;
  position: absolute;
  right: 20px;
  top: 20px;
}

.yard-rect {
  width: 180px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.yard-rect:hover {
  transform: scale(1.05);
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    color: black;
    
  }


}
